body{
    margin: 0;
    padding: 0;
    overflow: hidden
    
}

div{
    display: block;
}

.element{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#panel{
    top: 0;
    left: 0;
}

#right-wall{
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: white;
    left: 94.5%;
    z-index: 10;
}

#left-wall{
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: white;
    left: -5%;
    z-index: 10;
}

#above-wall{
    width: 100%;
    height: 10%;
    background-color: white;
    left: 94.5%;
    z-index: 10;
}

a, button{
    position: absolute;
}

#huevos{
    position: absolute;
    width: 500px;
    top: 20%;
    left: 8%;
    z-index: 2;
}

#texto{
    position: absolute;
    top: 22.5%;
    left: 50%;
    z-index: 2;
    animation-name: texto;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.btn-image_menu{
    left: 7.75%;
    top: 10%;
    z-index: 1;
}

.btn-image_pag-anterior{
    left: 7.75%;
    top: 85%;
    z-index: 1;
}

.btn-image_pag-siguiente{
    left: 87.75%;
    top: 85%;
    z-index: 1;
}


@keyframes texto{
    0% {
        transform: translate(0px, 0px) scale(.8) rotate(0deg);
    }
    25% {
        transform: translate(10px, -10px) scale(1) rotate(0deg);
    }
    75% {
        transform: translate(15px, -5px) rotate(10deg);
    }
    100% {
        transform: translate(10px, -10px) rotate(-5deg);
    }
}

